<!DOCTYPE html>
<html>
    <head>
        <rel type="stylesheet" src="stylesheets/style.css" />
        <script src="wads" lang="text/javascript"></script>
    </head>
<body>
    <form action="/catchupload/indx.html" method="post" enctype="multipart/form-data">
        <label for="fileupload">
            Select the data file to import, and click Upload.
        </label>
        <input name="fileupload" type="file" name="importfile" />
        <input type="submit" value="Upload" />
    </form>
</body>
</html>